@font-face {
  font-family: 'Segoe UI';
  src: url(assets/fonts/segoeUI/SegoeUI.eot);
  src: url(assets/fonts/segoeUI/SegoeUI.eot?#iefix) format('embedded-opentype'),
      url(assets/fonts/segoeUI/SegoeUI.woff2) format('woff2'),
      url(assets/fonts/segoeUI/SegoeUI.woff) format('woff'),
      url(assets/fonts/segoeUI/SegoeUI.ttf) format('truetype'),
      url(assets/fonts/segoeUI/SegoeUI.svg#SegoeUI) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';	
	src: url('../fonts/helveticaNeue/HelveticaNeue.eot');
	src: url('../fonts/helveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      url('../fonts/helveticaNeue/HelveticaNeue.woff2') format('woff2'),
      url('../fonts/helveticaNeue/HelveticaNeue.woff') format('woff'),
		  url('../fonts/helveticaNeue/HelveticaNeue.ttf')  format('truetype'),
      url('../fonts/helveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face { 
// 	font-family: 'Helvetica Neue Light';
// 	font-weight: normal;
// 	font-style: normal;
// 	src: url('../fonts/helveticaNeue/HelveticaNeue-Light.eot'); /* IE9 Compat Modes */
// 	src: url('../fonts/helveticaNeue/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
// 		url('../fonts/helveticaNeue/HelveticaNeue-Light.woff') format('woff'), /* Modern Browsers */
// 		url('../fonts/helveticaNeue/HelveticaNeue-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
// 		url('../fonts/helveticaNeue/HelveticaNeue-Light.svg#HelveticaNeue-CondensedBold') format('svg'); /* Legacy iOS */
// }

// @font-face {
// 	font-family: 'Helvetica Neue Bold'; 
// 	font-weight: normal;
// 	font-style: normal;
// 	src: url('../fonts/helveticaNeue/HelveticaNeueLTPro-Bd.eot');
// 	src: url('../fonts/helveticaNeue/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/helveticaNeue/HelveticaNeueLTPro-Bd.woff') format('woff'),
// 		url('../fonts/helveticaNeue/HelveticaNeueLTPro-Bd.ttf')  format('truetype'),
// 		url('../fonts/helveticaNeue/HelveticaNeueLTPro-Bd.svg#svgFontName') format('svg');
// }
