@media screen and (max-width: 414px){
    .abs-login__box-position-right .box-layer-form .box-login-form{
        width: 350px;
        padding: 15px;
        margin-left: 9%;
        margin-top: 46%;
      }
}