/**
*
* GLOBAL COLOR
*
*/
$white: #FFFFFF;
$black: #000000;

/**
*
* ABSOLUTE CONNECTION COLOR STANDARD
*
*/
$green-dark: #414a11;
$green-dark-medium: #809339;
$green-ligth: #99AE27;
$green-medium: #99AE27;
$grey-dark: #1C1C1C;
$grey-dark-medium: #252525;
// $grey: #5f6360;
$grey: white;
$light-grey: #f0f0f0;
$red: #dc3545;